60                      ATM_SOUND   MOVEABLE PURE   "Fx.wav"

61                      ATM_SOUND   MOVEABLE PURE   "Drop.wav"

62                      ATM_SOUND   MOVEABLE PURE   "Drop01.wav"

63                      ATM_SOUND   MOVEABLE PURE   "Mysty.wav"

64                      ATM_SOUND   MOVEABLE PURE   "Lion.wav"

65                      ATM_SOUND   MOVEABLE PURE   "Harp03.wav"

66                      ATM_SOUND   MOVEABLE PURE   "No.wav"


